<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/styles.css">
<link rel="icon" href="img/logo-icone.svg" type="image/svg" sizes="16x16">
</head>
<body>
  <main class="wrapper">
    <section class="hero">
      <h1>José Carlos Gushi</h1>
      <article>
        <p>Explore as cervejarias locais com apenas um clique e agitado pela luz das estrelas através dos séculos, anos-luz, grandes nuvens turbulentas circunavegaram o paroxismo da morte global.</p>
        <a href="#breweries">Navegue pelas cervejarias</a>
      </article>
    </section>
    <section class="breweries" id="breweries">
      <ul>
        <li>
          <figure>
            <!-- Photo by Quentin Dr on Unsplash -->
            <img src="img/papel.jpg" alt="foto1">
            <figcaption><h3>Bilhões e bilhões</h3></figcaption>
          </figure>
          <p>
            Feito no interior de estrelas em colapso, material estelar colhendo luz estelar, aventurar bilhões e bilhões. A Equação de Drake no cérebro é a semente da inteligência?
          </p>
          <a href="#">Visite o site</a>
        </li>
        <li>
          <figure>
            <!-- Photo by Drew Farwell on Unsplash -->
            <img src="img/papel1.jpg" alt="Several friends doing a toast">
            <figcaption><h3>Drake Equation</h3></figcaption>
          </figure>
          <p>
            Outros cidadãos do mundo de épocas distantes de onde nascemos descendem das costas da espada de Órion dos astrônomos do oceano cósmico.
          </p>
          <a href="#">Visite o site</a>
        </li>
        <li>
          <figure>
            <!-- Photo by Rawpixel on Unsplash photo-153-->
            <img src="img/papel2.jpg" alt="Three different glasses of beer">
            <figcaption><h3>Vast cosmic arena</h3></figcaption>
          </figure>
          <p>
            Galáxias, as cinzas da alquimia estelar, ciência dos números primos, partículas imperceptíveis de rocha e gás cérebro são a semente da inteligência.
          </p>
          <a href="#">Visite o site</a>
        </li>
      </ul>
    </section>
  </main>
  <footer>
    <p>&copy; 2020. Feito com ❤, CSS Grid e <a href="https://css-tricks.com/">Css-tricks</a>.</p>
  </footer>
</body>
</html>
