<!DOCTYPE html>
<html>
<head>nome</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="img/logo-icone.svg" type="image/svg" sizes="16x16">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<header>
  <h1>Meu Nome</h1>
</header>

<div class="menu">
  <div class="col-3 col-s-3 menu">
    <ul>
      <li class="item"><a href="paginas/sonhos.html">Meus Sonhos</a></li>
      <li><a href="paginas/vinteAnos.html">Daqui a vinte anos</a></li>
      <li><a href="paginas/kanban.html">Kanban</a></li>
      <li><a href="paginas/mapa.html">Camp Jabaquara</a></li>
    </ul>
  </div>

  <div class="col-6 col-s-9">
    <img src="img/avatar-de-homem.jpg" width="200px">
    <h2>BIO</h2>
    <p>Nasci na cidade de São Bernado do Campo no ano de 2002. 
      Quero fazer faculdade de psicologia e dança,amo cantar e escrever tambem <br> 
      quero produzir minhas proprias musicas daqui um tempo</p>
      <h2>Cursos que já fiz</h2>
      <ul>
           <li>Técnico em Informática</li>
           <li>Departamento Pessoal</li>
           <li>Desenvolvimento WEB</li>
      </ul>
      <p>Estes cursos foram feitos ...</p>
      <a href="https://jcgushi.github.io" style="color: black;">Visite minha página no GitHub</a>
      <h2>Cursos que estou fazendo</h2>
      <ul>
          <li>Língua Japonesa</li>
          <li>Língua Inglesa</li>
          <li>Desenvolvimento de Web</li>
      </ul>
      <h2>KANBAN</h2>
      <p>Kanban é um cartão de sinalização que controla os fluxos de materiais e produção em uma indústria. Foi criado na década de 1960 na Toyota para o sistema de abastecimento e controle de estoques, este sistema é muito usado por várias empresas em várias áreas, principalmente no controle de atividades. No curso do Camp Jabaquara aprendi a usar o Kanban no controle das atividades do dia a dia. Uso para planejar minhas atividades escolares e domésticas. Pretendo usar o kanban nas atividades profissionais.</p>
      <img src="img/kanban.png" alt="kanban">
    <h1>Vida Maria - Márcio Ramos</h1>
    <iframe src="https://www.youtube.com/embed/yFpoG_htum4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    
    <p>Produzido pelo animador gráfico Márcio Ramos, o filme “vida Maria” (Ceará, 2006) é uma pequena produção com uma mensagem enorme: a valorização da educação nos primeiros anos de vida.</p>
    <p><a href="https://catracalivre.com.br/educacao/curta-vida-maria-narra-o-que-acontece-com-crianca-longe-d/" >fonte: Renata Penzani</a></p>

    <picture>
      <img src="img/origami.jpg" alt="Flowers" style="width: 90vw; padding: 2vw;">
    </picture>    
  </div>

  <div class="col-3 col-s-12">
    <aside>
      <h2>O que?</h2>
      <p>O prazer da boa comida você encontra em Paraty.</p>
      <h2>Onde?</h2>
      <p>O Centro Histórico de Paraty remonta aos idos de 1820, quando suas ruas já possuiam seu calçamento "pé de moleque".</p>
      <h2>Como?</h2>
      <p>Uma das formas de chegar é pela Imigrantes-Anchieta / Rio-Santos</p>
    </aside>
  </div>
</div>

<footer>
  <p>Redimensione a janela do navegador para ver como o conteúdo responde ao redimensionamento.</p>
</footer>

</body>
</html>
